server {
  listen 80 default_server;
  server_name _; # This is just an invalid value which will never trigger on a real hostname.
  error_log /proc/self/fd/2;
  access_log /proc/self/fd/1;
  return 503;
}

{{ $ports := (coalesce $.Env.PROXY_PORTS "80") }}
{{ range $index, $port := split $ports "," }}

{{ range $environ, $containers := groupByMulti $ "Labels.envy" "," }}

###############################################################################
# Configs for {{ $environ }}:{{ $port }}
{{ $environ := replace $environ "." "-" -1 }}

upstream {{ $environ }}_{{ $port }} {
  {{ range $container := $containers }}
    server {{ $container.IP }}:{{ $port }};
  {{ end }}
}
server {
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  listen 80;
  server_name {{ $port }}-{{ $environ }}.{{ $.Env.ROOT_HOST }};
  proxy_buffering off;
  error_log /proc/self/fd/2;
  access_log /proc/self/fd/1;

  location / {
    proxy_pass http://{{ $environ }}_{{ $port }};
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    # HTTP 1.1 support
    proxy_http_version 1.1;
    proxy_set_header Connection "";
  }
}
{{ end }}
{{ end }}
